html, body {
    height: 99%;
    margin:0;
}

#container {
    position: relative;
    min-height: 100%;
}

#header { 
    background: #DDDDDD; 
    padding: 0 10px;  
} 
#header h1 {
    margin: 0; 
    padding: 10px 0; 
}

.ui-widget-header h2 {
    padding: 0 10px; 
}

#error {
    border-bottom:3px solid #DE7A7B;
    border-top:3px solid #DE7A7B;
    color:#c00;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin-bottom:10px;
    padding:5px 40px;
    background: #E6C0C0 url(images/notice-alert.png) no-repeat scroll 4px center
} 

#alert {
    border-bottom:3px solid #84A7DB;
    border-top:3px solid #84A7DB;
    color:#0055BB;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin-bottom:10px;
    padding:5px 40px;
    background: #C3D2E5 url(images/notice-info.png) no-repeat scroll 4px center
}

#footer { 
    bottom: 0;
    position: absolute;
    padding: 10px 0 10px 0; 
    background:#DDDDDD;
    min-height: 10px;
    width: 100%;
} 

#footer p {
    background: #DDDDDD;
    margin: 0; 
    padding: 10px 0; 
}

#status { 
    float: left; 
}

#module-status    { 
    float: right; 
    padding-right:10px;
}
#module-status span { 
    display: block; 
    float: left; 
    margin-left:5px; 
    padding-left:22px;
}

#module-status .loggedin-user {
    background:transparent url(images/icon-16-user.png) no-repeat scroll;
}

#module-status .logout {
    background:transparent url(images/icon-16-logout.png) no-repeat scroll;
}

.inputbox {
    margin: 2px; 
}

.clearfloat {
    clear:both;
    height:35px;
    font-size: 1px;
    line-height: 0px;
}

.list_container 
{
    width: 99%;
    position: relative ! important;
    margin-top: 3px ! important;
    margin-left: 3px ! important;
    margin-bottom: 3px ! important;
    overflow: auto;
}

.item_list {
    background-color:#E7E7E7;
    border-spacing:1px;
    color:#666666;
    width:100%;
}

.item_list th {
    font-size: 110%;
    background:#F0F0F0 none scroll 0 0;
    border-bottom:1px solid #999999;
    border-left:1px solid #FFFFFF;
    color:#666666;
    text-align:center;
}

.item_list th img {
    border:0 none;
}

.item_list tr {
    background:#FFFFFF;
    border:1px solid #FFFFFF;
}

.item_list td {
    padding: 0.2em 0.7em;
}

.item_list tfoot td, 
.item_list tfoot th {
    background-color:#F3F3F3;
    border-top:1px solid #999999;
    text-align:center;
    padding: 0.1em 0.5em;
}

.pagination {
    display:table;
    margin:0 auto;
    padding:0;
}

.pagination div.limit {
    float:left;
    margin:0 10px;
}

.button2-right {
    float:left;
    margin-left:5px;
}

.button2-left {
    float:left;
    margin-left:5px;
}

input, select { 
    font-size: 10px;  
    border: 1px solid silver; 
}

.text_area { 
    font-size: 11px;  border: 1px solid silver; 
}

button { 
    font-size: 10px;
}

input.disabled { 
    background-color: #F0F0F0;
}

input.button { 
    cursor: pointer;   
}

table tr.selected  {
    background-color:#363636;
}